@tailwind base;
@tailwind components;
@tailwind utilities;
.lg\:w-72 {
    width: auto !important;
}
.lg\:pl-72 {
    padding-left: 15rem !important;
}
.week-input:focus-visible {
    outline: none !important;
}
@media (min-width: 640px) {
    .sm\:max-w-sm {
        max-width: 40rem !important;
    }
}